/*GENERAL*/
  body {
  background: #EFEFEF;
  font-family: "Open Sans", Arial, sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat", Arial, sans-serif;
}

h2 {
  color: #551A8B;
  letter-spacing: 0.75em;
  font-size: 1.25em;
}

p {
  font-weight: 300;
}

i {
  color: #551A8B;
  font-size: 2em;
}

i:hover {
  color:  #7647a2;
}

.main {
  background: #FFF;
  margin-bottom: 5em;
  width: 40em;
  padding: 3em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*PROFILE*/
.profile #school:hover {
  color: #565656;
}

.profile #school {
  color: #000;
  text-decoration: none;
}
.profile h2{
  color: #000;
  letter-spacing: normal;
  font-size: 1em;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}
.profile h1 {
  color: #551A8B;
  font-size: 2em;
  letter-spacing: 0.5em;
}

.profile img {
  width: 12.5em;
  border-radius: 50%;
  border: 0.125em solid rgba(83, 173, 218, 0.5);
}

.profile #button:hover {
  background: #7647a2;
}
.profile #button {
  text-decoration: none;
  padding: 0.75em 0.5em;
  border-radius: 0.25em;
  background: #551A8B;
  color: #FFF;
}

/*SOCIAL*/

.social div {
  display: flex;
  justify-content: center;
  margin: 0 1em;
}
.social div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*ABOUT*/

.about i {
  font-size: 0.75em;
}
.about div {
  display: flex;
  justify-content: center;
}

.about > div > a {
  font-size: 2em;
  margin: 0 0.5em;
}


/*PROJECTS*/

.projects {
  width: 50em;
}
.projects h3 {
  color: #7647a2;
}
.projects img {
  max-width: 30vw;
  margin-right: 5em;
}

.projects #table {
  display: flex;
  flex-direction: column;
}

.projects #table .table-row {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
